@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --lightmode-rightbg-color: #f0f0f5;
  --lightmode-color: #212121;
  --right-color: #f0f0f5;
  --section1-color: linear-gradient(0deg, rgba(0,139,192,1) 0%, rgba(0,85,192,1) 100%);
  --section2-color: linear-gradient(0deg, rgb(253, 164, 10,1) 0%, rgba(253, 21, 10,1) 100%);
}

*{
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

/* html {
   font-size: 62.5%;
} */

body{
    font: 14px Poppins, sans-serif;
    color: var(--lightmode-color);
    background: var(--lightmode-rightbg-color);
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    /* font-size: 1.6rem; */
    transition: ease-in-out, .500s ease-in-out;
}

input, button, textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

a:link {
   text-decoration: none;
}

/* a:hover {
   color: #F27D8E;
   transition: 0.3s;
}  */

ul {
   list-style-type: none;
}

/* ::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 16px;
    color: #8C8C8C;
  } */

/* INICIO */

.container {
  display: flex;
  flex-direction: row;
  opacity: 4%;
}
.esquerda {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 50px 50px;

  background: var(--section1-color);
  /* background-color: #0055c0; */
  color: var(--right-color);
  width: 450px;
  height: auto;
}

.esquerda .foto-perfil {
  height: 250px;
  width: 250px;
  margin-bottom:20px;
}

.esquerda .nome {
  font-size: 30px;
  font-weight: 600;
}


.esquerda .bio {
  padding-top: 20px;
  font-size: 16px;
  
}

.esquerda .bio-tituloIcone {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.esquerda .bio .bio-icone {
  color: var(--right-color);
}

.esquerda .bio .bio-titulo {
  font-weight: bold;
  font-size: 18px;
  padding-left: 8px;
}

.esquerda .bio .bio-texto {
  padding-left: 38px;
  text-align: justify;
}


.esquerda .contato {
  padding-top: 40px;
  font-size: 16px;
  width: 100%;

}

.esquerda .contato-tituloIcone {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.esquerda .contato .contato-icone {
  color: var(--right-color);
}

.esquerda .contato .contato-titulo {
  font-weight: bold;
  font-size: 18px;
  padding-left: 8px;
}

.esquerda .contato-btns {
  display: flex;
  justify-content: space-between;
}

.contato-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 0px solid;
  border-radius: 4px;
  margin-bottom: 20px;

  width: 70px;
  height: 70px;
  background-color: var(--lightmode-rightbg-color);
  transition: ease-in-out, .35s ease-in-out;

}

.contato-btn:hover {
  background-color: #bababd;
}

.direita {
  padding-top: 30px;
}

.direita .topicos {
  padding: 50px 100px;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-around;  
}

.experienciaeacademico {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.certificadosehabilidades {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.direita .content {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.direita .content .linha {
  width: 2px;
  height: 100%;
  background-color: var(--lightmode-color);
  margin-right: 20px;
}

.direita .content .titulo{
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 10px;
}

.direita .content .cargo-experiencia{
  font-size: 18px;
  font-weight: 600;
}

.direita .content .empresa-experiencia {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 13px;
}

.popup {
  z-index: 999;
  position: fixed;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 50px 40px;

  text-align: center;

  color: #212121;
  background-color: #fff;
  border-radius: 15px;

  overflow: hidden;

  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}

.popup .titulo {
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 8px;
}

.popup .texto {
  color: #353535;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 32px;
}

.popup .titulo-cointainer {
  display: flex;
  flex-direction: row;
}

.popup .arthur-iphone {
  width: 120px
}

.popup .botao {
  font-size: 18px;
  font-weight: 600;
  padding: 18px 80px;

  color: var(--lightmode-rightbg-color);
  background-color: #008bc0;

  border-radius: 4px;
  border: 0px;
  transition: ease-in-out, .35s ease-in-out;

}

.popup .botao:hover {
  background-color: #0055c0;
}